<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h5><strong>Национальная Академия Дистанционного Обучения</strong><br /> г.Киев, пр. Победы, 165</h5>
				<span>© 2017</span>
			</div>
			<div class="col-lg-4 condition">
				<div class="row">
					<div class="col-lg-12 string">
						<a href="#">Условия обучения</a>
						<a href="#" class="police">Политика конфиденциальности</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 pay">
						<a href="#"><img src="../img/visa.png" alt=""></a>
						<a href="#"><img src="../img/master.png" alt=""></a>
						<a href="#"><img src="../img/paypal.png" alt=""></a>
						<a href="#"><img src="../img/yandexmoney.png" alt=""></a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 contacts">
				<div class="row">
					<div class="col-lg-12">
						<a href="tel: +38 044 123 45 67" class="tel">+38 044 123 45 67</a>
					</div>
				</div>
				<a href="mailto: info@nado.ua" class="mail">info@nado.ua</a>
			</div>
		</div>
	</div>
</footer>