<header class="header_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-4 logo">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="col-md-4 name">
				<h1>НАДО! Учить английский<br /></h1>
					<strong>с Артуром Казаряном!</strong>
			</div>
			<div class="col-md-4 top-tel">
				<div class="tel">
					<a href="tel: +38 044 123 45 67" class="tel-top">+38 044 123 45 67</a>
					<a href="#" class="btn btn-default navbar-btn">Перезвоните мне</a>
				</div>
			</div>
		</div>
	</div>
</header>