footer {
  background-image: url("../img/footer_bg.png");
  padding-top: 45px;
  padding-bottom: 45px;
  margin-top: 73px;
  h5 {
    font-size: 14px;
    color: #555;
    line-height: 18px;
    margin-bottom: 16px;
    strong {
      font-family: $font-bold;
    }
  }

  .pay {
    margin-top: 27px;
    a {
      margin-right: 15px;
      border: none;
    }
  }

  .condition {
    padding-right: 0;
  }
  .string {
    padding-right: 0;
  }
  .police {
    float: right;
    margin-right: 2px;
  }
  a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #d0d0d0;
    img {
      filter: grayscale(1);
      opacity: .3;
      padding-bottom: 5px;
      &:hover {
        filter: none;
        opacity: 1;
      }
    }
  }

  .contacts {
    a {
      border: none;
    }
    .tel {
      float: right;
      font-size: 18px;
      color: #555;
      font-family: $font-base;
      margin-top: 4px;
      line-height: 16px;
    }
    .mail {
      float: right;
      font-size: 14px;
      color: #d92125;
      border-bottom: 1px solid #d92125;
    }
  }
}