.header_wrap {
  margin-top: 35px;
  .logo {
  padding-left: 11px;
    padding-top: 4px;
  }
  .name {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    text-align: center;
    font-size: 24px;
    font-family: $font-bold;
    color: #494949;
    line-height: 22px;
    padding-left: 61px;
    padding-top: 17px;
    margin-bottom: 0;
  }
  strong {
    font-size: 30px;
    color: #494949;
    padding-left: 63px;
    font-family: $font-bold;
    line-height: 22px;
  }
  .tel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .tel-top {
      font-size: 24px;
      font-family: $font-bold;
      color: #0090ff;
    }
    .navbar-btn {
      border-radius: 4px;
      border: none;
      background-color: #3d54af;
      color: $white;
      font-size: 14px;
      font-family: $font-bold;
      padding: 4px 21px 6px;
      outline: none;
      &:hover {
        box-shadow: 0px 4px 15px 0px rgba(61, 84, 175, 0.4);
      }
    }
  }
}