//overrides
@import "core/variables";
@import "core/normalize";

//third party
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/slick-carousel/slick/slick.scss";

// core styles
@import "core/mixins";
@import "core/global";
@import "core/fonts";

// modules styles
@import "modules/header";
@import "modules/homepage";
@import "modules/footer";

